# Ambiente virtual
venv/
env/
ENV/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Arquivos de distribuição/build
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos temporários e de teste
*.log
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Arquivos gerados pelo script
palette_preview.png
*_updated.scss

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
