// Design System Auto-Adaptativo - Cores geradas automaticamente

$color-primary: #020100;
$color-primary-dark: #000000;
$color-primary-light: #4e2700;
$color-secondary: #000102;
$color-accent: #000200;
$color-gray-light: #f0f0f0;
$color-gray-medium: #969696;
$color-gray-dark: #323232;
$color-additional-1: #3e2713;
$color-additional-2: #e8b90a;
$color-additional-3: #b58a0f;
